@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Source Code Pro', monospace; */
}
:root {
  --primary: #004d48;
  --secondary: #92fff8;
  --rest: #d5fdff;
}
.container {
  /* background-color: antiquewhite; */
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  height: 100%;
}
.homelogo {
  width: 68px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
a#skills {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.logo {
  margin: 12px 24px;
  font-size: 24px;
  cursor: pointer;
  /* background-color: rgb(255, 225, 185); */
}
.navbar {
  display: flex;
  /* background-color: --; */
  margin-right: 0.5rem;
  height: 10vh;
  align-items: center;
}
.navbar > ul {
  display: flex;
}
.navbar > ul > li {
  list-style: none;
  padding: 0px 18px;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: var(--primary);
}
.navbar > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.navbar > button {
  margin: 18px;
  transition: all 0.2s;
}
#resumebutton:hover {
  /* color: var(--secondary);
  background-color: var(--primary);
  border: 2px solid var(--secondary); */
}
.aboutme {
  /* background-color: rgb(252, 217, 171); */
  color: var(--rest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  margin-top: 4rem;
}
.mydetails {
  margin: 100px 25px;
  margin-left: 5em;
}
.mydetails > div {
  margin: 25px 0;
}
.greet {
  font-family: "Source Code Pro", monospace;
}
.name {
  font-size: 62px;
}
.occupation {
  font-size: 62px;
}
.bio {
  font-size: 24px;
}
.morebutton > a > button {
  padding: 8px 24px;
  margin: 12px 8px;
  font-size: 18px;
}
.aboutme > img {
  width: 400px;
  background-color: #015c56;
  border-radius: 94% 6% 94% 6%/95% 5% 95% 5%;
  margin-right: 10rem;
  opacity: 0.6;
  transform: scaleX(-1);
  animation: border-radius-animation 5s linear 1s alternate;
  transition: border-radius 1s ease-in-out;
}
.aboutme > img:hover {
  border-radius: 16px;
}
@keyframes border-radius-animation {
  0% {
    border-radius: 94% 6% 94% 6%/95% 5% 95% 5%;
  }
  20% {
    border-radius: 16px;
  }
  50% {
    border-radius: 16px;
  }
  80% {
    border-radius: 16px;
  }
  100% {
    border-radius: 94% 6% 94% 6%/95% 5% 95% 5%;
  }
}

.skills {
  display: grid;
  color: var(--rest);
  /* flex-direction: column; */
  column-gap: 200px;
  /* margin: 24px 0px; */
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--secondary) 50%, var(--primary) 50%);
  grid-template-areas:
    "header header"
    "left-set right-set";
}
.skillheader {
  text-align: center;
  font-size: 62px;
  grid-area: header;
  margin: 0;
  letter-spacing: 8px;
}
.headerspan {
  color: var(--primary);
}
.skillset-left {
  display: grid;
  grid-area: left-set;
  gap: 30px;
}
.skillset-right {
  display: grid;
  grid-area: right-set;
  gap: 30px;
}
.skillset-left > .strips {
  background-color: var(--primary);
  color: var(--secondary);
}
.skillset-right > .strips {
  background-color: var(--secondary);
  color: var(--primary);
}
.strips {
  position: relative;
  width: 370px;
  height: 90px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 0px 12px;
  font-weight: bold;
  margin: 12px 24px;
  border-radius: 15px;
  cursor: pointer;
}

.skillset-left > .strips::before,
.skillset-left > .strips::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #00a499ab;
  transition: all 0.5s;
}
.skillset-right > .strips::before,
.skillset-right .strips::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #19fff0b5;
  transition: all 0.5s;
}

.strips::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.strips::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.strips:hover::before,
.strips:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}
#AI:hover:after {
  /* content: "I am an AI learner and enthusiast and I have skills in that feild. I have started learning AI 4-5 motnhs ago."; */
  content: "";
  font-size: 14px;
  text-align: center;
  color: #004d48;
  animation: show-AI-transition 0.5s ease-in forwards;
}
#ML:hover:after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: #004d48;
  animation: show-ML-transition 0.5s ease-in-out forwards;
}
#DL:hover:after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: #004d48;
  animation: show-DL-transition 0.5s ease-in-out forwards;
}
#FW:hover:after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: #004d48;
  animation: show-FW-transition 0.5s ease-in-out forwards;
}
#Web:hover:after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: var(--secondary);
  animation: show-web-transition 0.5s ease-in-out forwards;
}
#Design:hover:after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: var(--secondary);
  animation: show-design-transition 0.5s ease-in-out forwards;
}
#C:hover:after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: var(--secondary);
  animation: show-C-transition 0.5s ease-in-out forwards;
}
#Python:hover::after {
  content: "";
  font-size: 14px;
  text-align: center;
  color: var(--secondary);
  animation: show-python-transition 0.5s ease-in-out forwards;
}
@keyframes show-AI-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "I am an AI learner and enthusiast and I have skills in that feild. I have started learning AI 4-5 motnhs ago.";
  }
}
@keyframes show-ML-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "I am a ML learner and enthusiast and I have skills in that feild. I have started learning ML 4-5 motnhs ago.";
  }
}
@keyframes show-DL-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "I am an DL learner and enthusiast and I have skills in that feild. I have started learning DL 4-5 motnhs ago.";
  }
}
@keyframes show-FW-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "I know the basics frameworks for data analysis and data analyzation. Also for the training and data processing of AI models.";
  }
}
@keyframes show-web-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "Web Development is my passion and I also love doing it. I have plenty of experience in this feild.";
  }
}
@keyframes show-design-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "I use figma in web designing although i am not that good but for work I am the guy you need";
  }
}
@keyframes show-C-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "C++ was my first ever language(after javascript) that I learned with my full heart. It is a common language that every beginner must know.";
  }
}
@keyframes show-python-transition {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    content: "I have the knowledge of python as I work in AI. I also know some major frameworks related to python.";
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
  color: var(--rest);
}
.projectsheader {
  text-align: center;
  font-size: 62px;
}
.projectcard {
  display: flex;
  padding: 20px 24px;
}
.projectcard > img {
  width: 700px;
  border-radius: 8px;
}
.projectdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectdetail > h1 {
  text-decoration: underline;
}
.projectdetail > p {
  margin: auto 100px;
}
.projectdetail > a > button {
  padding: 8px 18px;
  font-size: 18px;
}
.projects > a > button {
  /* margin: 0 auto; */
  font-size: 22px;
  font-weight: bold;
}
.last-section {
  background: linear-gradient(180deg, rgba(40, 105, 101, 0), #92fff8);
  /* height: 100%; */
}
.resume {
  color: var(--rest);
  display: flex;
  margin: 4em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume > h1 {
  color: var(--secondary);
}
.resumebuttons {
  margin: 3em 0;
}
.resumebuttons > a > button {
  padding: 14px 150px;
  margin: 0px 100px;
  font-size: 26px;
}
.contactme {
  color: var(--rest);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.contactme > h1 {
  text-align: center;
  color: var(--secondary);
}
.contactinput > form {
  display: flex;
  flex-direction: column;
}
.contactinput > form > input {
  margin: 2em 18em;
  padding: 16px 12px;
  font-family: "Source Code Pro", monospace;
  border: 2px solid var(--primary);
  border-radius: 8px;
}
.contactinput > form > textarea {
  margin: 2em 18em;
  font-family: "Source Code Pro", monospace;
  padding: 12px;
  border: 2px solid var(--primary);
  border-radius: 8px;
}
.contactme > a > button {
  /* margin: auto auto; */
  margin-left: 43rem;
  padding: 8px 38px;
  font-size: 18px;
  font-weight: bold;
}
.contactlogo {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin: 6em 16em 2em 16em;
}
.contactlogo > a > img {
  width: 68px;
}

.footer {
  color: var(--rest);
  /* margin: 4em 0; */
  padding-top: 12px;
  background-color: #004d4876;
}
.contactinfo {
  color: var(--primary);
  margin: 2em;
  font-family: "Source Code Pro", monospace;
}
.rights {
  color: var(--primary);
  text-align: center;
  padding: 0 0 2em 0;
}
a > button {
  /* margin: 12px; */
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
  transition: all 0.3s;
}
a > button:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: 2px solid var(--secondary);
}
