@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Source Code Pro', monospace; */
}
:root {
  --primary: #004d48;
  --secondary: #92fff8;
  --rest: #d5fdff;
}
.container {
  /* background-color: antiquewhite; */
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  height: 100%;
}
.homelogo {
  width: 68px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
a#skills {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
}
.logo {
  margin: 12px 24px;
  font-size: 24px;
  cursor: pointer;
  /* background-color: rgb(255, 225, 185); */
}
.navbar {
  display: flex;
  /* background-color: --; */
  height: 10vh;
  align-items: center;
}
.navbar > ul {
  display: flex;
}
.navbar > ul > li {
  list-style: none;
  padding: 0px 18px;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: var(--primary);
}
.navbar > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.navbar > button {
  margin: 18px;
}
.aboutme {
  /* background-color: rgb(252, 217, 171); */
  color: var(--rest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.mydetails {
  margin: 100px 25px;
  margin-left: 5em;
}
.mydetails > div {
  margin: 25px 0;
}
.greet {
  font-family: "Source Code Pro", monospace;
}
.name {
  font-size: 62px;
}
.occupation {
  font-size: 62px;
}
.bio {
  font-size: 24px;
}
.morebutton > button {
  padding: 8px 24px;
  margin: 12px 8px;
  font-size: 18px;
}
.aboutme > img {
  width: 400px;
  background-color: #015c56;
  border-radius: 94% 6% 94% 6%/95% 5% 95% 5%;
  margin-right: 10rem;
  opacity: 0.6;
  transform: scaleX(-1);
  animation: border-radius-animation 2s linear 1s alternate;
  transition: border-radius 1s ease-in-out;
}
.aboutme > img:hover {
  border-radius: 16px;
}
@keyframes border-radius-animation {
  0% {
    border-radius: 94% 6% 94% 6%/95% 5% 95% 5%;
  }
  50% {
    border-radius: 16px;
  }
  100% {
    border-radius: 94% 6% 94% 6%/95% 5% 95% 5%;
  }
}

.skills {
  display: grid;
  color: var(--rest);
  /* flex-direction: column; */
  column-gap: 200px;
  /* margin: 24px 0px; */
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--secondary) 50%, var(--primary) 50%);
  grid-template-areas:
    "header header"
    "left-set right-set";
}
.skillheader {
  text-align: center;
  font-size: 62px;
  grid-area: header;
  margin: 0;
  letter-spacing: 8px;
}
.headerspan {
  color: var(--primary);
}
.skillset-left {
  display: grid;
  grid-area: left-set;
  gap: 30px;
}
.skillset-right {
  display: grid;
  grid-area: right-set;
  gap: 30px;
}
.skillset-left > .strips {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--rest);
  width: 350px;
  height: 70px;
  margin: 12px;
  padding: 12px;
  border-radius: 12px;
}
.skillset-right > .strips {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  color: var(--primary);
  width: 350px;
  height: 70px;
  margin: 12px;
  padding: 12px;
  border-radius: 12px;
}
.projects {
  display: flex;
  flex-direction: column;
  margin: 4em 0;
  color: var(--rest);
}
.projectsheader {
  text-align: center;
  font-size: 62px;
}
.projectcard {
  display: flex;
  padding: 20px 24px;
}
.projectcard > img {
  width: 700px;
  border-radius: 8px;
}
.projectdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectdetail > h1 {
  text-decoration: underline;
}
.projectdetail > p {
  margin: auto 100px;
}
.projectdetail > button {
  padding: 8px 18px;
  font-size: 18px;
}
.projects > button {
  margin: auto auto;
  font-size: 22px;
  font-weight: bold;
}
.last-section {
  background: linear-gradient(180deg, rgba(40, 105, 101, 0), #92fff8);
  /* height: 100%; */
}
.resume {
  color: var(--rest);
  display: flex;
  margin: 4em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume > h1 {
  color: var(--secondary);
}
.resumebuttons {
  margin: 3em 0;
}
.resumebuttons > button {
  padding: 14px 150px;
  margin: 0px 100px;
  font-size: 26px;
}
.contactme {
  color: var(--rest);
  display: flex;
  flex-direction: column;
}
.contactme > h1 {
  text-align: center;
  color: var(--secondary);
}
.contactinput > form {
  display: flex;
  flex-direction: column;
}
.contactinput > form > input {
  margin: 2em 18em;
  padding: 16px 12px;
  font-family: "Source Code Pro", monospace;
  border: 2px solid var(--primary);
  border-radius: 8px;
}
.contactinput > form > textarea {
  margin: 2em 18em;
  font-family: "Source Code Pro", monospace;
  padding: 12px;
  border: 2px solid var(--primary);
  border-radius: 8px;
}
.contactme > button {
  margin: auto auto;
  padding: 8px 38px;
  font-size: 18px;
  font-weight: bold;
}
.footer {
  color: var(--rest);
  /* margin: 4em 0; */
}
.contactlogo {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin: 6em 16em 2em 16em;
}
.contactlogo > img {
  width: 68px;
}
.contactinfo {
  color: var(--primary);
  margin: 2em;
  font-family: "Source Code Pro", monospace;
}
.rights {
  color: var(--primary);
  text-align: center;
  padding: 0 0 2em 0;
}
.buttons {
  /* margin: 12px; */
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
}
