body {
  margin: 0;
  padding: 0;
  background-color: #ff8b7e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
}
.container > h1 {
  font-size: 48px;
  color: #88291f;
  text-decoration: underline;
}
.calBody {
  display: flex;
  flex-direction: column;
  background-color: rgb(126, 50, 0);
  /* position: absolute; */
  /* top: 0; */
  width: 550px;
  height: 100%;
  border-radius: 12px;
  padding: 24px;
}
.display {
  height: 160px;
  background-color: #ff8b7e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  font-size: 36px;
  position: relative;
  color: #88291f;
  width: 500px;
  font-size: 4rem;
  padding: 12px 25px;
  border: 0px;
}
#result {
  background-color: #ff8b7e;
  color: #88291f;
  border: 0;
  width: 100%;
  font-size: 5rem;
  margin: 12px 8px;
  /* display: none; */
  opacity: 0;
}
#equation {
  display: block;
  margin: 14px 10px;
  position: absolute;
  top: 50px;
  left: 20px;
  background-color: #ff8b7e;
  color: #88291f;
  border: 0;
  font-size: 4rem;
  width: 80%;
  /* position: absolute;
  top: 50px; */
}
.calbuttons {
  background-color: rgb(199, 95, 79);
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 100%;
  width: 100%;
}
.opButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calBody button {
  position: relative;
  width: 100%;
  height: 90px;
  border: none;
  background-color: #ff4d39;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgb(112, 0, 0);
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.7;
  letter-spacing: 1px;
  box-shadow: #88291f 0px 7px 2px, #000 0px 8px 5px;
  font-size: 42px;
  cursor: pointer;
}

.calBody button:hover {
  opacity: 1;
}

.calBody button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}
