@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}
.container {
  background-color: antiquewhite;
}
header {
  background-color: burlywood;
}
header .navbar {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
}
.navbar > .logo {
  margin: 0 40px;
}
.navlinks {
  margin: 20px 38px;
  display: flex;
}
.mainlinks {
  margin: 0 22px;
}
.mainlinks > ul {
  display: flex;
}
.mainlinks > ul > li {
  list-style: none;
  padding: 0px 6px;
}
.mainlinks > ul > li > a {
  text-decoration: none;
  color: black;
}
.signlinks {
  margin: 0 6px;
}
.signlinks > ul {
  display: flex;
}
.signlinks > ul > li {
  list-style: none;
  padding: 0px 6px;
}
.signlinks > ul > li > a {
  text-decoration: none;
  color: black;
}
main {
  /* background-color: chocolate; */
}
.carousel {
  height: 55vh;
  background-image: url(images/business-meeting-2.png);
  background-size: 1536px;
  background-position-y: -250px;
  background-repeat: no-repeat;
  background-color: white !important;
  opacity: 25%;
}
.infosection {
  color: black;
}
footer {
  background-color: darkred;
}
